@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #182235;
  --secondary-color: #3371b1;
  --tertiary-color: #b79dca;
  --quaternary-color: #ebdaf1;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Navbar */

nav {
    position: absolute;
    top: 0;
    left: 0;
    /* background: var(--primary-color); */
    background: linear-gradient(120deg, #182235, #3371b1, #b79dca);
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 2em;
    z-index: 99;
    /* animation-duration: 1000ms; */
}
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: auto;
    width: fit-content;
    gap: 20px;
}
nav ul li a {
    text-decoration: none;
    color: var(--quaternary-color);
}

.navbtn {
    position: absolute;
    width: fit-content;
    height: fit-content;    
    /* background: white; */
    font-size: 3em;
    margin-left: 15px;
    cursor: pointer;
    z-index: 999;
    color: var(--quaternary-color);

}

/* i {background: #000;} */

.hidden {
    display: none;
}

/* .fa-bars {
    color: var(--quaternary-color);
} */

/* .fa-xmark {
    color: var(--secondary-color);
} */

nav ul li a:hover,
.selected {
    background: var(--quaternary-color);
    color: var(--primary-color);
    border-radius: 10px;
    padding: 5px;
}






.copyrights {
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--primary-color);
    color: var(--quaternary-color);
    width: 100%;
    text-align: center;
    /* padding: 10px 0; */
    font-size: .5em;
}